*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #EFF5F5;
    font-family: "Ubuntu";
    height: 100%;
    width: 100%;
}

.secciones-dashboard, .secciones-area-gestion{
    width: calc(100vw - 400px);
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* se puede quitar y cambiar si se quiere posicionar mas precisamente */
    align-items: center;
    padding: 0 50px;
}

.titulo-dashboard{
    color: #048F9F;
    font-size: 2.3rem;
}

/* Módulos y sub-módulos de gestión  */

.seccion2-modulos-i{
    width: 100%;
    height: 260px;
}

.seccion2-modulos{
    width: 100%;
    height: 220px;
}

.subtitulo-dashboard, .titulo-area-gestion{
    color: #048F9F;
    font-size: 1.6rem;
    margin: 0 20px 10px;
}

.area-modulos-i{
    width: 100%;
    height: 220px;
    background-color: white;
    border: 3px solid #BDEDF3;
    /* box-shadow: -2px 4px 8px #9C9C9C; */
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    /* border: 3px solid red; */
}

.area-modulos{
    width: 100%;
    height: 180px;
    background-color: white;
    border: 3px solid #BDEDF3;
    /* box-shadow: -2px 4px 8px #9C9C9C; */
    justify-content: space-evenly;
    border-radius: 25px;
    padding: 25px;
    display: flex;
}

.area-modulos a, .area-modulos-i a{
    all: unset;
}

.modulo-eventos, .modulo-productos, .modulo-salidas-productos, .modulo-entradas-productos{
    border-radius: 20px;
    width: 250px;
    height: 125px;
    /* margin: 0 25px 0 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.modulo-farmacia, .modulo-albergue, .modulo-usuarios{
    border-radius: 20px;
    width: 290px;
    height: 155px;
    /* margin: 0 25px 0 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.modulo-farmacia:hover, .modulo-albergue:hover, .modulo-usuarios:hover, .modulo-eventos:hover, .modulo-productos:hover, .modulo-salidas-productos:hover, .modulo-entradas-productos:hover{
    transform: scale(1.05);
}

.modulo-salidas-productos, .modulo-entradas-productos{
    width: 270px;
}

.modulo-farmacia h4, .modulo-albergue h4, .modulo-usuarios h4, .modulo-eventos h4, .modulo-productos h4, .modulo-salidas-productos h4, .modulo-entradas-productos h4{
    font-family: "Ubuntu";
    font-size: 1.6rem;
    font-weight: 400;
}

.modulo-farmacia h4, .modulo-albergue h4, .modulo-usuarios h4{
    font-size: 2rem;
    font-weight: 300;
}

.modulo-farmacia, .modulo-eventos{
    border: 2px solid #0094A4;
    background-color: #0094a41c;
    color: #0094A4;
}

.modulo-albergue{
    border: 2px solid #D49538;
    background-color: #D495381c;
    color: #D49538;
}

.modulo-usuarios{
    border: 2px solid #5779FF;
    background-color: #5779FF1c;
    color: #5779FF;
}

.modulo-productos{
    border: 2px solid #D47438;
    background-color: #D474381c;
    color: #D47438;
}

.modulo-salidas-productos{
    border: 2px solid #740000;
    background-color: #7400001c;
    color: #740000;
}

.modulo-entradas-productos{
    border: 2px solid #108F36;
    background-color: #108F361c;
    color: #108F36;
}

/* Fin Módulos y sub-módulos de gestión  */
/* Imágenes e Iconos */

.modulo-farmacia-icono, .modulo-albergue-icono, .modulo-usuarios-icono, .modulo-eventos-icono, .modulo-productos-icono{
    width: 50px;
    height: 50px;
}

.modulo-farmacia-icono, .modulo-albergue-icono, .modulo-usuarios-icono{
    width: 60px;
    height: 60px;
}

.modulo-salidas-productos-icono, .modulo-entradas-productos-icono{
    width: 50px;
    height: 60px;
}

.modulo-farmacia-img, .modulo-albergue-img, .modulo-usuarios-img, .modulo-eventos-img, .modulo-productos-img, .modulo-salidas-productos-img, .modulo-entradas-productos-img{
    width: 100%;
    height: 100%;
}

/* Fin Imágenes e Iconos */
/* Scrollbar */

.body-tabla-actividad-reciente::-webkit-scrollbar {
  width: 8px;
}

.body-tabla-actividad-reciente::-webkit-scrollbar-track {
  background: #FFF8E2;
}

.body-tabla-actividad-reciente::-webkit-scrollbar-thumb {
  background-color: #D49538;
}

/* Fin Scrollbar */
/* Tablas */

.tabla-actividad-reciente{
    width: 100%;
    height: 340px;
    background-color: white;
    border: 3px solid #D49538;
    border-radius: 25px;
    font-family: "Lato";
    border-spacing: 0;
    overflow: hidden;
    text-align: center;
    table-layout: fixed;
}

.header-tabla-actividad-reciente{
    background-color: #FFF8E2;
    font-size: 1.4rem;
    font-weight: 600;
    height: 50px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.header-tabla-actividad-reciente td, .body-tabla-actividad-reciente td{
    border-bottom: 3px solid #D49538;
}

.body-tabla-actividad-reciente tr:last-child td{
    border-bottom: 0;
}

.body-tabla-actividad-reciente{
    display: block;
    width: 100%;
    height: 284px; /* adjust if header height changes */
    overflow-y: auto;
    overflow-x: hidden;
}

.body-tabla-actividad-reciente tr{
    display: table;
    width: 100%;
    max-height: 50px; 
    table-layout: fixed;
}

.body-tabla-actividad-reciente td{
    word-wrap: break-word;
    padding: 10px;
}

.tabla-actividad-reciente-btn{
    background-color: #D49538;
    padding: 5px 30px;
    font-size: 1rem;
    font-weight: 550;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* Fin Tablas */