*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #EFF5F5;
    font-family: "Ubuntu";
    height: 100%;
    width: 100%;
}

.secciones-dashboard, .secciones-area-gestion{
    width: calc(100vw - 400px);
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* se puede quitar y cambiar si se quiere posicionar mas precisamente */
    align-items: center;
    padding: 0 50px;
}

.titulo-dashboard{
    color: #048F9F;
    font-size: 2.3rem;
}

/* Módulos y sub-módulos de gestión  */

.seccion2-modulos-i{
    width: 100%;
    height: 260px;
}

.seccion2-modulos{
    width: 100%;
    height: 220px;
}

.subtitulo-dashboard, .titulo-area-gestion{
    color: #048F9F;
    font-size: 1.6rem;
    margin: 0 20px 10px;
}

.area-modulos-i{
    width: 100%;
    height: 220px;
    background-color: white;
    border: 3px solid #BDEDF3;
    /* box-shadow: -2px 4px 8px #9C9C9C; */
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    /* border: 3px solid red; */
}

.area-modulos{
    width: 100%;
    height: 180px;
    background-color: white;
    border: 3px solid #BDEDF3;
    /* box-shadow: -2px 4px 8px #9C9C9C; */
    justify-content: space-evenly;
    border-radius: 25px;
    padding: 25px;
    display: flex;
}

.area-modulos a, .area-modulos-i a{
    all: unset;
}

.modulo-eventos, .modulo-productos, .modulo-salidas-productos, .modulo-entradas-productos{
    border-radius: 20px;
    width: 250px;
    height: 125px;
    /* margin: 0 25px 0 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.modulo-farmacia, .modulo-albergue, .modulo-usuarios{
    border-radius: 20px;
    width: 290px;
    height: 155px;
    /* margin: 0 25px 0 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.modulo-farmacia:hover, .modulo-albergue:hover, .modulo-usuarios:hover, .modulo-eventos:hover, .modulo-productos:hover, .modulo-salidas-productos:hover, .modulo-entradas-productos:hover{
    transform: scale(1.05);
}

.modulo-salidas-productos, .modulo-entradas-productos{
    width: 270px;
}

.modulo-farmacia h4, .modulo-albergue h4, .modulo-usuarios h4, .modulo-eventos h4, .modulo-productos h4, .modulo-salidas-productos h4, .modulo-entradas-productos h4{
    font-family: "Ubuntu";
    font-size: 1.6rem;
    font-weight: 400;
}

.modulo-farmacia h4, .modulo-albergue h4, .modulo-usuarios h4{
    font-size: 2rem;
    font-weight: 300;
}

.modulo-farmacia, .modulo-eventos{
    border: 2px solid #0094A4;
    background-color: #0094a41c;
    color: #0094A4;
}

.modulo-albergue{
    border: 2px solid #D49538;
    background-color: #D495381c;
    color: #D49538;
}

.modulo-usuarios{
    border: 2px solid #5779FF;
    background-color: #5779FF1c;
    color: #5779FF;
}

.modulo-productos{
    border: 2px solid #D47438;
    background-color: #D474381c;
    color: #D47438;
}

.modulo-salidas-productos{
    border: 2px solid #740000;
    background-color: #7400001c;
    color: #740000;
}

.modulo-entradas-productos{
    border: 2px solid #108F36;
    background-color: #108F361c;
    color: #108F36;
}

/* Fin Módulos y sub-módulos de gestión  */
/* Imágenes e Iconos */

.modulo-farmacia-icono, .modulo-albergue-icono, .modulo-usuarios-icono, .modulo-eventos-icono, .modulo-productos-icono{
    width: 50px;
    height: 50px;
}

.modulo-farmacia-icono, .modulo-albergue-icono, .modulo-usuarios-icono{
    width: 60px;
    height: 60px;
}

.modulo-salidas-productos-icono, .modulo-entradas-productos-icono{
    width: 50px;
    height: 60px;
}

.modulo-farmacia-img, .modulo-albergue-img, .modulo-usuarios-img, .modulo-eventos-img, .modulo-productos-img, .modulo-salidas-productos-img, .modulo-entradas-productos-img{
    width: 100%;
    height: 100%;
}

/* Fin Imágenes e Iconos */
/* Scrollbar */

.body-tabla-actividad-reciente::-webkit-scrollbar {
  width: 8px;
}

.body-tabla-actividad-reciente::-webkit-scrollbar-track {
  background: #FFF8E2;
}

.body-tabla-actividad-reciente::-webkit-scrollbar-thumb {
  background-color: #D49538;
}

/* Fin Scrollbar */
/* Tablas */

.tabla-actividad-reciente{
    width: 100%;
    height: 340px;
    background-color: white;
    border: 3px solid #D49538;
    border-radius: 25px;
    font-family: "Lato";
    border-spacing: 0;
    overflow: hidden;
    text-align: center;
    table-layout: fixed;
}

.header-tabla-actividad-reciente{
    background-color: #FFF8E2;
    font-size: 1.4rem;
    font-weight: 600;
    height: 50px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.header-tabla-actividad-reciente td, .body-tabla-actividad-reciente td{
    border-bottom: 3px solid #D49538;
}

.body-tabla-actividad-reciente tr:last-child td{
    border-bottom: 0;
}

.body-tabla-actividad-reciente{
    display: block;
    width: 100%;
    height: 284px; /* adjust if header height changes */
    overflow-y: auto;
    overflow-x: hidden;
}

.body-tabla-actividad-reciente tr{
    display: table;
    width: 100%;
    max-height: 50px; 
    table-layout: fixed;
}

.body-tabla-actividad-reciente td{
    word-wrap: break-word;
    padding: 10px;
}

.tabla-actividad-reciente-btn{
    background-color: #D49538;
    padding: 5px 30px;
    font-size: 1rem;
    font-weight: 550;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* Fin Tablas */

/* Estilos de la Langing Page */

.main-landing{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-landing{
    width: 100%;
    height: 10vh;
    background-color: #0190A0;
}

.navbar{
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-logo{
    width: 20%;
    display: flex;
    align-items: center;
}

.navbar .content-logo img{
    width: 70px;
    height: 65px;
    margin-right: 1rem;
}

.content-logo h2{
    color: #ffffff;
}

.navbar ul{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.navbar ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.navbar ul li .nav-btn-iniciar button {
    width: 170px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: #EAA949;
    color: #875000;
    font-weight: 600;
    font-size: 18px;
}

.hero-section{
    width: 100%;
    height: 600px;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}


.content-hero{
    width: 60%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.content-hero h1{
    color: #212427;
    font-size: 60px;
}

.content-hero .separator-hero{
    width: 870px;
    height: 1px;
    background-color: #D49538;
    margin-top: .5rem;
}

.content-hero .text-hero{
    width: 750px;
    font-size: 24px;
    margin-top: 1.5rem;
    text-align: center;
    color: #212427;
}

.image-hero{
    width: 40%;
    display: flex;
    align-items: center;
}

.image-hero img{
    width: 100%;
}

.about{
    width: 100%;
    height: 550px;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.img-about{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-about img{
    width: 80%;
}

.content-about{
    width: 60%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.content-about h1{
    color: #212427;
    font-size: 50px;
}

.content-about .separator-about{
    width: 420px;
    height: 1px;
    background-color: #D49538;
    margin-top: .5rem;
}

.content-about .text-about{
    width: 800px;
    font-size: 22px;
    margin-top: 1.5rem;
    text-align: center;
    color: #212427;
}

.functions {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.functions h1 {
    color: #212427;
    font-size: 50px;
    height: 80px;
}

.functions .text-functions {
    height: 80px;
    font-size: 24px;
    text-align: center;
    color: #212427;
}

.functions .cards-functions {
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.content-card {
    width: 380px;
    height: 220px;
    box-shadow: -2px 2px 6px 4px #E4E4E4;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.content-card h3 {
    /* height: 90px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.content-card .text-card-function{
    font-size: 20px;
    text-align: center;
    margin-top: 1rem;
}

.contact {
    height: 700px;
    text-align: center;
    padding: 40px 20px;
}

.contact h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #212427;
}

.text-contact {
    margin-bottom: 25px;
    font-size: 22px;
    color: #212427;
}

.contact table {
    max-width: 1350px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #E4E4E4;
    border-radius: 10px;
    overflow: hidden;
}

.contact thead {
    background-color: #d6d6d6;
}

.contact th {
    padding: 15px;
    font-size: 24px;
    text-align: center;
    border-bottom: 3px solid #B5B3B3;
}

.contact .tipo {
    border-right: 3px solid #B5B3B3;
}

.contact td {
    padding: 15px;
    text-align: left;
    border-bottom: 3px solid #B5B3B3;
    font-size: 20px;
}

.contact .final-td{
    border-bottom: none;
}

.contact .line-contact {
    text-align: center;
    font-weight: bold;
    border-left: 3px solid #B5B3B3;
}

footer{
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 80px;
    background-color: #F6FEFF;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #333333;
    font-size: 20px;
    padding: 15px;
}

.softcare-logo-img, .ceiba-logo-img, .logo-softcare-img, .diseno-principal-img{
    width: 80%;
    height: 80%;
}

.asociaciones, .softcare, .ceiba{
    display: flex;
    flex-direction: row;
}

.softcare-logo{
    width: 60px;
    height: 60px;
}

.ceiba-logo{
    width: 60px;
    height: 60px;
}

.softcare{
    margin-right: 50px;
}

.softcare-titulo, .ceiba-titulo{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
    align-self: center;
}