.main-inicio-de-sesion::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/foto_albergue.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
}

.main-inicio-de-sesion{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: calc(100vh - 80px);
}

/* .modal-recuperar-contrasena, 
              .modal-productos-registrar, .modal-productos-editar, .modal-productos-desactivar, 
              .modal-entrada-registrar, .modal-entrada-editar, .modal-entrada-desactivar,
              .modal-entrada-detalle-registrar, .modal-entrada-detalle-editar, .modal-entrada-detalle-desactivar {
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    width: max-content;
} */

.area-grafica{
    width: 650px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-softcare{
    width: 550px;
    height: 200px;
}

.diseno-principal{
    width: 450px;
    height: 450px;
}

.inicio-sesion-vertical-navbar{
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    background-color: #0190A0;
    border-radius: 30px;
    box-shadow: 4px 4px 8px 2px #21212180;
}

.titulo-inicio-sesion{
    width: 75%;
    font-size: 1.7rem;
    color: white;
    text-align: center;
    align-self: center;
    text-shadow: 3px 3px 4px #00000065;
}

.iniciar-sesion-form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 75%;
    margin-top: 80px;
}

.iniciar-sesion-label{
    padding-left: 15px;
    font-size: 1.5rem;
    color: white;
}

.iniciar-sesion-input1, .iniciar-sesion-input2{
    margin-top: 15px;
    margin-bottom: 70px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: none;
    padding: 0 10px;
    font-size: 1.15rem;
    color: #212427;
    box-shadow: 3px 3px 4px #00000065;
    text-decoration: none;
    z-index: 2;
}

.iniciar-sesion-input2{
    margin-bottom: 10px;
}

.iniciar-sesion-input1::placeholder, .iniciar-sesion-input2::placeholder, .rc-input1::placeholder{
    font-size: 1rem;
    color: #0190a057;
    transform: translate(0px, 3px);
    transition: font-size 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.iniciar-sesion-input1:focus::placeholder, .iniciar-sesion-input2:focus::placeholder, .rc-input1:focus::placeholder{
    transform: translate(0px, 0px);
    font-size: 1.15rem;
    transition: font-size 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.olvido-contra{
    color: #740000;
    font-size: 1rem;
    margin-bottom: 80px;
}

.iniciar-sesion-btn{
    margin: 0 90px;
    height: 50px;
    background-color: #eaaa49de;
    color: #875000;
    border-radius: 10px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.iniciar-sesion-btn:hover, .cerrar-sesion-btn:hover,.rc-btn:hover{
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

/* Ventanas Modales */

.modales-iniciar-sesion{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    background-color: #00000065;
}

.modal-recuperar-contrasena{
    margin: auto;
    background-color: #FFFFFF;
    width: 700px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 8px 4px #21242779;
    padding: 30px;
}

.modal-recuperar-contrasena a{
    display: flex;
    width: max-content;
    text-decoration: none;
    color: #003338;
    font-family: 'lato';
    font-size: 0.8rem;
    background-color: #0094a421;
    border-radius: 10px;
    padding: 5px 12px;
}

.volver-icono{
    height: 14px;
    width: 9px;
    align-self: center;
    margin-right: 10px;
    transform: scale(1);
}

.modal-rc-area{
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.modal-rc-titulo{
    color: #048F9F;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.modal-rc-mensaje{
    color: #212427;
    font-size: 1.2rem;
    font-family: 'lato';
    width: 505px;
    height: 130px;
}

.rc-form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.rc-label{
    color: #212427;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
    padding-left: 5px;
}

.rc-input1, .rc-input2, .rc-input4 {
    height: 40px;
    border-radius: 10px;
    border: 3px solid #0094A4;
    outline: none;
    padding: 0 10px;
    font-size: 1.15rem;
    color: #212427;
    text-decoration: none;
    background-color: #F8F8F8;
    margin-bottom: 50px;
    z-index: 2;
}

.rc-input3{
    height: 40px;
    border-radius: 10px;
    border: 3px solid #0094A4;
    outline: none;
    padding: 0 10px;
    font-size: 1.15rem;
    color: #212427;
    text-decoration: none;
    background-color: #F8F8F8;
    margin-bottom: 20px;
}

.rc-btn{
    height: 40px;
    width: max-content;
    padding: 0 10px;
    background-color: #eaaa49de;
    color: #875000;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    align-self: center;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

/* Fin Ventanas Modales */