main::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/foto_refugio.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
}