*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



main, footer, .modal-recuperar-contrasena, .modal-recuperar-contrasena{
    border: 3px solid black;
    margin-bottom: 15px;
    padding: 15px;
    width: max-content;
}