*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main, footer, .modal-recuperar-contrasena, 
              .modal-registrar, .modal-editar, .modal-eliminar, 
              .modal-entrada-registrar, .modal-entrada-editar, .modal-entrada-eliminar,
              .modal-entrada-detalle-registrar, .modal-entrada-detalle-editar, .modal-entrada-detalle-eliminar {
    border: 3px solid black;
    margin-bottom: 15px;
    padding: 15px;
    width: max-content;
}

/* --- ESTILOS GENERALES PARA MODALES --- */
.modal-registrar,
.modal-editar,
.modal-eliminar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Esto las mantiene ocultas */
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.55); /* Fondo oscuro */
    z-index: 999;
}

/* Contenedor interno */
.modal-content {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 450px;
    max-height: 90vh;
    overflow-y: auto;
}

/* Mostrar modal */
.show-modal {
    display: flex;
}
.modal-editar .error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
    display: block;
}