*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



main, footer, .modal-recuperar-contrasena, 
              .modal-inventario-registrar, .modal-inventario-editar, .modal-inventario-eliminar, 
              .modal-entrada-registrar, .modal-entrada-editar, .modal-entrada-eliminar,
              .modal-entrada-detalle-registrar, .modal-entrada-detalle-editar, .modal-entrada-detalle-eliminar {
    border: 3px solid black;
    margin-bottom: 15px;
    padding: 15px;
    width: max-content;
}