*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Ubuntu";
    background-color: #EEFDFF;
}

.softcare-logo-img, .ceiba-logo-img, .logo-softcare-img, .diseno-principal-img{
    width: 100%;
    height: 100%;
}

.modal-recuperar-contrasena, 
              .modal-inventario-registrar, .modal-inventario-editar, .modal-inventario-eliminar, 
              .modal-entrada-registrar, .modal-entrada-editar, .modal-entrada-eliminar,
              .modal-entrada-detalle-registrar, .modal-entrada-detalle-editar, .modal-entrada-detalle-eliminar {
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    width: max-content;
}

main{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90vh;
    padding: 0;
    margin-bottom: 0;
    border: none;
}



.area-grafica{
    width: 650px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-softcare{
    width: 550px;
    height: 200px;
}

.diseno-principal{
    width: 450px;
    height: 450px;
}

.inicio-sesion-vertical-navbar{
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    background-color: #0190A0;
    border-radius: 30px;
}

.titulo-inicio-sesion{
    width: 75%;
    font-size: 1.7rem;
    color: white;
    text-align: center;
    align-self: center;
    text-shadow: 3px 3px 4px #00000065;
}

.iniciar-sesion-form{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 75%;
    margin-top: 80px;
}

.iniciar-sesion-label{
    padding-left: 15px;
    font-size: 1.5rem;
    color: white;
}

.iniciar-sesion-input1, .iniciar-sesion-input2{
    margin-top: 15px;
    margin-bottom: 70px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: none;
    padding: 0 10px;
    font-size: 1.15rem;
    color: #212427;
    box-shadow: 3px 3px 4px #00000065;
    text-decoration: none;
}

.iniciar-sesion-input2{
    margin-bottom: 10px;
}

.iniciar-sesion-input1::placeholder, .iniciar-sesion-input2::placeholder{
    font-size: 1rem;
    color: #0190a057;
    transform: translate(0px, 3px);
    transition: font-size 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.iniciar-sesion-input1:focus::placeholder, .iniciar-sesion-input2:focus::placeholder{
    transform: translate(0px, 0px);
    font-size: 1.15rem;
    transition: font-size 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.olvido-contra{
    color: #740000;
    font-size: 1rem;
    margin-bottom: 80px;
}

.iniciar-sesion-btn{
    margin: 0 90px;
    height: 50px;
    background-color: #eaaa49de;
    color: #875000;
    border-radius: 10px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.iniciar-sesion-btn:hover{
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

footer{
    font-family: "Lato";
    width: 100%;
    height: 10vh;
    background-color: #0190A0;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1rem;
    padding: 15px;
}

.asociaciones, .softcare, .ceiba{
    display: flex;
    flex-direction: row;
}

.softcare-logo{
    width: 60px;
    height: 60px;
}

.ceiba-logo{
    width: 60px;
    height: 60px;
}

.softcare{
    margin-right: 50px;
}

.softcare-titulo, .ceiba-titulo{
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    align-self: center;
}